:root {
    --color-red: red;
    --padding: 20px;
    --margin-top: 10px;
    --image-url: url("image.png");
    --color-white: #000;
};



@media (min-width: 60px) {
    :root {
        --padding: 30px;
    };
}


@define-mixin font-default {
    font-family: Verdana;
}

@define-mixin position $type: absolute, $top: null, $right: null, $bottom: null, $left: null {
    position: $type;

    @if $top != null {
        top: $top;
    }

    @if $right != null {
        right: $right;
    }

    @if $bottom != null {
        bottom: $bottom;
    }

    @if $left != null {
        left: $left;
    }
}


.image {
    @mixin position absolute, var(--padding), 10px, null, null;
    @mixin font-default;

    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: var(--color-red);
    background: url("image.png");
    background-image: image-set(url("image.png") 1x, url("image.png") 2x);
    padding: calc(var(--padding) * 2);
    margin-top: calc(var(--margin-top) + 10vh);

    @if 3 < 5 {
        border-color: blue;
    }

    & .bar {
        & a,
        & .link {
            @mixin font-default;

            color: var(--color-red);
            background: var(--image-url);
            background-image: image-set(url("image.png") 1x, var(--image-url) 2x);
            padding: calc(var(--padding) * 2);

            @if 3 < 5 {
                border-color: blue;
            }


            &:hover {
                @mixin font-default;

                color: var(--color-red);
                background: url("image.png");
                background-image: image-set(url("image.png") 1x, url("image.png") 2x);
                padding: calc(var(--padding) * 2);

                @if 3 < 5 {
                    border-color: blue;
                }
            }
        }
    }
}

.buttonWrapper {
    & .button {
        &.tertiary {
            &:enabled:hover:not(.loading) {
                & span {
                    color: color(var(--color-white) alpha(0.8));
                }
            }
        }
    }
}
