:root {
    --color-red: red;
    --my-theme: {
        border: 1px solid green;
    }
    --padding: 20px;
};


@define-mixin font-default {
    font-family: Verdana;
}

.image {
    @mixin font-default;
    @apply --my-theme;
    color: var(--color-red);
    background: url('image.png');
    background-image: image-set(url("image.png") 1x, url("image.png") 2x);
    padding: calc(var(--padding) * 2);

    @for $i from 1 to 1 {
        & .loop-$i {
            @mixin font-default;
            @apply --my-theme;
            color: var(--color-red);
            background: url('image.png');
            background-image: image-set(url("image.png") 1x, url("image.png") 2x);
            padding: calc(var(--padding) * 2);
        }
    }

    @if 3 < 5 {
        border-color: blue;
    }

    & .bar {
        & a,
        & .link {
            @mixin font-default;
            @apply --my-theme;
            color: var(--color-red);
            background: url('image.png');
            background-image: image-set(url("image.png") 1x, url("image.png") 2x);
            padding: calc(var(--padding) * 2);

            @for $i from 1 to 1 {
                & .loop-$i {
                    @mixin font-default;
                    @apply --my-theme;
                    color: var(--color-red);
                    background: url('image.png');
                    background-image: image-set(url("image.png") 1x, url("image.png") 2x);
                    padding: calc(var(--padding) * 2);
                }
            }

            @if 3 < 5 {
                border-color: blue;
            }


            &:hover {
                @mixin font-default;
                @apply --my-theme;
                color: var(--color-red);
                background: url('image.png');
                background-image: image-set(url("image.png") 1x, url("image.png") 2x);
                padding: calc(var(--padding) * 2);

                @for $i from 1 to 1 {
                    & .loop-$i {
                        @mixin font-default;
                        @apply --my-theme;
                        color: var(--color-red);
                        background: url('image.png');
                        background-image: image-set(url("image.png") 1x, url("image.png") 2x);
                        padding: calc(var(--padding) * 2);
                    }
                }

                @if 3 < 5 {
                    border-color: blue;
                }
            }
        }
    }
}
